body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #04070d;
  color: #ffffff;
}

.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-info {
  text-align: center;
  margin-bottom: 40px;
  flex-basis: 100%;
  border: 2px solid #FFD700; 
  padding: 20px;
  border-radius: 10px; 
  background-image: url('./Assets/profile-info-background.jpg');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.profile-info h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

.profile-info h3 {
  color: #FFD700;
  line-height: 1.5;
}

.profile-info h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

.profile-info p {
  font-size: 18px;
  line-height: 1.5;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
}

.sections-left, .sections-right {
  flex-basis: 48%;
}

.sections-left > div, .sections-right > div {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #1a1f2f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sections-left h2, .sections-right h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #FFD700;
}

.sections-left h3, .sections-right h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}

.sections-left p, .sections-right p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.sections-left ul, .sections-right ul {
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sections-left li, .sections-right li {
  font-size: 16px;
  background-color: #2b334a;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFD700;
  font-weight: bold;
}
